html {
  background-color: #181a1b;
}

body {
  color: rgb(164, 157, 145);
}

h4 {
    text-align: justify;
    hyphens: auto;
    text-justify: auto;
}

.navigation {
  background-color: rgb(31, 34, 36);
  border-bottom-color: rgb(119, 110, 97);
}

.navigation .title {
  color: rgb(164, 157, 145);
}

.button {
  background-color: rgb(108, 44, 146);
  border-color: rgb(97, 39, 132);
  color: rgb(232, 230, 227);
}

.wrapper > .container {
  padding-bottom: 0rem;
  padding-top: 6.5rem;
}

